
.direito p {
    margin: 0;
    font-size: 14px;
}

.direito {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px 0;
}

.logo1 { 
    position: absolute;
    bottom: 30px;
    left: 6px;
    margin-top: 20px;
}