@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
}


.main{
  height: 100vh;
  display: flex;
  background-color: rgb(48, 48, 48);
}

.main>h1{
  margin: auto;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(90deg, rgba(214, 6, 225, 0.753), rgb(92, 5, 191), rgb(144, 42, 203), rgb(6, 170, 225), rgba(214, 6, 225, 0.753)); /* Gradiente RGB contínuo */
  background-size: 1200%; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  animation: moveGradient 2s ease infinite; 
}

@keyframes moveGradient {
  0% {
      background-position: 0%;
  }
  50% {
      background-position: 50%;
  }
  100% {
      background-position: 100%;
  }
}