.text {
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  flex-direction: column;
  margin-top: 7rem;
}

.text h1{
  color: #002D68;
  margin-bottom: 40px;
}