.text {
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  flex-direction: column;
  margin-top: 4rem;
}

.text h1{
  color: #002D68;
  margin-bottom: 40px;
  text-shadow: 1px 2px 9px rgba(0, 0, 0, 0.521);
}

.logo_menor{
  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
  display: none;
}

.text p{
  font-weight: 500;
}

.buttonContainer {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.btn {
  background-color: #007bff;
  font-family: "JetBrains Mono", serif;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
}

.btn:hover {
  background-color: #0056b3;
}

@media(max-width: 768px) {
  .text h1 {
    font-size: 20px;
  }
  .text p { 
    font-size: 15px;
  }
  .logo_menor{
    display: block;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
  }
}